.home_banner_content{
  height: 416px;
  background: transparent url('./img/bcq.jpg') 0% 0% no-repeat padding-box  ;
  background-size: cover;

}
.home_banner_text{

  position: relative;
  left: 261px;
  top:134px;
  
}

.home_banner_textb{
  margin-top: -50px;

}
.home_banner_texta{
  padding-bottom:  0px;
  margin-bottom:  0px;
}
