
/*@import url('../../assets/MonsterClubhouse.ttf')*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: "MonsterClubHouse";
    src: url("../../assets/MonsterClubhouse.ttf");

}
:root{
  /*fonts*/
  --poppins: 'Poppins', sans-serif;

  /*colors */
  --red:#D84A4A;
  --grey:#425966;
  --white:#FFFFFF;
  --darkBlue: #425966;

}
